<p>Submit a password for an app/site. Get back a cookie with the app/site as the key and the hashed password as the value.</p>
<form method="POST" action="#" id="password_encrypt">
    <input id="app" type="text" autocomplete="off" placeholder="App/Site" name="app" required/>
    <input type="password" autocomplete="off" placeholder="Password" name="password" required/>
    <input id='csrf_token' name='_csrf_token' type='hidden' value="{{ csrf_token() }}">
    <button type="submit">Submit</button>
</form>